/* **************************** */
/* THEME - CSS COLOR ASSIGNMENTS*/

BODY {background-color:#248c8c;color:black;}

/* DIV colors*/

.pagecolor{background-color:#248c8c;color:black;border: 5px double #864A1C}
.topcolor{background-color:#cc9933;color:black;}
.itemcolor{background-color:#cc9933;color:black}
.catcolor{background-color:#cc9933;color:black}
.bottomcolor{background-color:#005630;color:black;}
.bottomcolor{background-color:#DEB887;color:black;}
.headercolor{background-color:#F5D0A9;color:black;}
.toolbarcolor{background-color:#F5D0A9;color:black;}
/* just for IE */
.scrollbarcolor{scrollbar-base-color: #DEB887;scrollbar-arrow-color: #DEB887;scrollbar-DarkShadow-Color: blue;}

/* TABLE colors */

.oddrow {background-color:#FFFF99;color:#000000}
.evenrow{background-color:#FFFFCC;color:#000000}
/* .header {height:10mm;background-color:#5faba1;color:#000000} */
.resulttablecolor{background-color:#DEB887;color:black;}
.abouttablecolor{background-color:#FFFF99;color:black;}
.edittablecolor{    background-color:#FFFFcc;color:black;}
.dataInput:focus {background-color:#FFFF99;color:black;border: red solid thin;}

/* hover colors*/

.imggo img:hover{background-color: #ADFF2F;color: black;}
.imggo input:hover{background-color: #ADFF2F;color: black;}
.imgwarn img:hover {background-color: #FF4500;color: black;}
.imgwarn input:hover {background-color: #FF4500;color: black;}
.imgcaution img:hover {  background-color:#FFFF99;color: black;}
.imgcaution input:hover {  background-color:#FFFF99;color: black;}
.imgpassive img:hover {  background-color:#E7CE94;color: black;}
.imgpassive input:hover {  background-color:#E7CE94;color: black;}
.hilite img:hover {border: red solid thin;}
.list select:hover {background-color:#FFFF99;color:black;border: red solid thin;}
.searchSubmit:hover {background-color:#E7CE94;color:black;border: red solid thin;}
.searchInput:hover {background-color:#E7CE94;color:black;border: red solid thin;}
.defaultSubmit {background-color:#47f347;color:black;border: red solid thin;font:16px sans-serif;}
.alternateSubmit {background-color:#E7CE94;color:black;border: red solid thin;font:16px sans-serif;}

/* FONT Settings */

/* unvisited link */
a:link {color: #000000;}
/* visited link */
a:visited {color: #000000;}
/* mouse over link */
a:hover {color: #000000;}
/* selected link */
a:active {color: #000000;}

/* MISC colors */

.supporttooltip {font:12pt Times, serif;text-align:left;color:red;}
.displaynamecolor{color:white;}
.searchfieldcolor{background-color:#FFFF99;color:black;}
.editfield {background-color:#ffe2aa;color:black;font:10pt Times, sans;}
.topfield {background-color:#FFFF99;color:black;font:10pt Times, sans;}
.inputfield {background-color:#ffe2aa;color:black;font:16px sans-serif;}
.inputdefault {background-color:lightgreen;color:black;font:16px sans-serif;}
.loginmsgcolor{color:red;background-color:transparent;}
.resultcol {font:10pt Times, serif;text-align:left;color:#000000}
.messagetext {background-color:#F5F5F5;color:#B70303;14px;font: 14pt Times, sans}
.logintext {background-color:#ffffff;color:#000000;14px;font: 14pt Times, sans}

/* *************************************************** */
/* documentation division */

.docTextDivColor{background-color:#FFFFCC;color:black;}

.docTitle A:link {text-decoration: none;color:#CC3A18;}
.docTitle A:visited {text-decoration: none;color:#CC3A18;}
.docTitle A:active {text-decoration: none;color:#CC3A18;}
.docTitle A:hover {text-decoration: none;background-color:#FFD278;color:#70200D}

.docChapters A:link {text-decoration: none;color:#CC3A18;}
.docChapters A:visited {text-decoration: none;color:#CC3A18;}
.docChapters A:active {text-decoration: none;color:#CC3A18;}
.docChapters A:hover {text-decoration: none;background-color:#FFD278;color:#70200D}

.docPages A:link {text-decoration: none;color:#CC3A18;}
.docPages A:visited {text-decoration: none;color:#CC3A18;}
.docPages A:active {text-decoration: none;color:#CC3A18;}
.docPages A:hover {text-decoration: none;background-color:#FFD278;color:#70200D;}
    