/* **************************** */
/* THEME - CSS COLOR ASSIGNMENTS*/

BODY {background-color:#85A4A3;color:black;}

/* DIV colors*/

.pagecolor{background-color:#effe7a2;color:black;border: 5px double #CD001D}
.topcolor{background-color:#AC0D0D;color:black;}
.itemcolor{background-color:#820000;color:black}
.catcolor{background-color:#820000;color:black}
.bottomcolor{background-color:#ffcebd;color:black;}
.headercolor{background-image:url('../images/mars-header.jpg');color:black;}
.toolbarcolor{background:url('../images/mars-toolbar2.jpg');color:white;}
/* just for IE */
.scrollbarcolor{scrollbar-base-color: #DEB887;scrollbar-arrow-color: #DEB887;scrollbar-DarkShadow-Color: blue;}

/* TABLE colors */

.oddrow{background-color:#e6a791;color:#000000}
.evenrow {background-color:#FFB9A0;color:#000000}
/* tr.header {height:10mm;background-color:#5faba1;color:#000000} */
.resulttablecolor{background-color:#6A000F;color:black;}
.abouttablecolor{background-color:#C3C3C3;color:black;}
.edittablecolor{background-color:#AFAFAF;color:black;}
.dataInput:focus {background-color:#ffc0cb;color:black;border: red solid thin;}

/* hover colors*/

.imggo img:hover{background-color: #54EB51;color: black;}
.imggo input:hover{background-color: #54EB51;color: black;}
.imgwarn img:hover {background-color: #FF4500;color: black;}
.imgwarn input:hover {background-color: #FF4500;color: black;}
.imgcaution img:hover {background-color:#DDF75C;color: black;}
.imgcaution input:hover {background-color:#DDF75C;color: black;}
.imgpassive img:hover {background-color:#FFD9CC;color: black;}
.imgpassive input:hover {background-color:#C3C3C3;color: black;}
.hilite img:hover {border: red solid thin;}
.list select:hover {border: red solid thin;}
.searchSubmit:hover {background-color:#FFD9CC;color:black;border: red solid thin;}
.searchInput:hover {background-color:#FFD9CC;color:black;border: red solid thin;}
.defaultSubmit {background-color:#47f347;color:#ffffff;border:red solid thin;font:16px sans-serif;}
.alternateSubmit {background-color:#E7CE94;color:black;border:red solid thin;font:16px sans-serif;}

/* FONT Settings */

/* unvisited link */
/* a:link {color: #FFD9CC;} */
/* visited link */
a:visited {color: #e6e6fa;}
/* mouse over link */
a:hover {color: #FCC49F;}
/* selected link */
a:active {color: #add8e6;}

/* MISC colors */

.supporttooltip {font:12pt Times, serif;text-align:left;color:red;}
.displaynamecolor{color:white;}
.searchfieldcolor{background-color:#FFD9CC;color:black;}
.editfield {background-color:#EAEAEA;color:black;font:10pt Times, sans;}
.topfield {background-color:#FFD9CC;color:black;font:10pt Times, sans;}
.inputfield {background-color:#EAEAEA;color:black;font:16px sans-serif;}
.inputdefault {background-color:#EAEAEA;color:black;font:16px sans-serif;}
.loginmsgcolor{color:red;background-color:transparent;}
.resultcol {font:10pt Times, serif;text-align:left;color:#000000}
.messagetext {background-color:#F5F5F5;color:#B70303;14px;font: 14pt Times, sans}
.logintext {background-color:#000000;color:#ffffff;14px;font: 14pt Times, sans}

/* *************************************************** */
/* documentation division */

.docTextDivColor{background-color:#ffebe3;color:black;}

.docTitle A:link {text-decoration: none;color:#820000;}
.docTitle A:visited {text-decoration: none;color:#820000;}
.docTitle A:active {text-decoration: none;color:#820000;}
.docTitle A:hover {text-decoration: none;background-color:#DE4E4E;color:white}

.docChapters A:link {text-decoration: none;color:#820000;}
.docChapters A:visited {text-decoration: none;color:#820000;}
.docChapters A:active {text-decoration: none;color:#820000;}
.docChapters A:hover {text-decoration: none;background-color:#DE4E4E;color:white}

.docPages A:link {text-decoration: none;color:#820000;}
.docPages A:visited {text-decoration: none;color:#820000;}
.docPages A:active {text-decoration: none;color:#820000;}
.docPages A:hover {text-decoration: none;background-color:#DE4E4E;color:white;}
 