/* **************************** */
/* THEME - CSS COLOR ASSIGNMENTS*/

BODY {background-color:#85A4A3;color:black;}

/* DIV colors*/

.pagecolor{background-color:#effe7a2;color:black;border: 5px double #CD001D}
.topcolor{background-color:#AC0D0D;color:black;}
.itemcolor{background-color:#820000;color:black}
.catcolor{background-color:#820000;color:black}
.bottomcolor{background-color:#FFB9A0;color:black;}
.headercolor{background-image:url('../images/mars-header.jpg');color:black;}
.toolbarcolor{background:url('../images/mars-toolbar2.jpg');color:white;}
/* just for IE */
.scrollbarcolor{scrollbar-base-color: #DEB887;scrollbar-arrow-color: #DEB887;scrollbar-DarkShadow-Color: blue;}

/* TABLE colors */

.oddrow {background-color:#C3C3C3;color:#000000}
.evenrow{background-color:#EAEAEA;color:#000000}
/* tr.header {height:10mm;background-color:#5faba1;color:#000000} */
.resulttablecolor{background-color:#6A000F;color:black;}
.abouttablecolor{background-color:#C3C3C3;color:black;}
.edittablecolor{background-color:#AFAFAF;color:black;}
.dataInput:focus {background-color:#F7F7F7;color:black;border: red solid thin;}

/* hover colors*/

.imggo img:hover{background-color: #54EB51;color: black;}
.imggo input:hover{background-color: #54EB51;color: black;}
.imgwarn img:hover {background-color: #FF4500;color: black;}
.imgwarn input:hover {background-color: #FF4500;color: black;}
.imgcaution img:hover {background-color:#DDF75C;color: black;}
.imgcaution input:hover {background-color:#DDF75C;color: black;}
.imgpassive img:hover {background-color:#C3C3C3;color: black;}
.imgpassive input:hover {background-color:#C3C3C3;color: black;}
.hilite img:hover {border: red solid thin;}
.list select:hover {border: red solid thin;}
.searchSubmit:hover {background-color:#EAEAEA;color:black;border: red solid thin;}
.searchInput:hover {background-color:#EAEAEA;color:black;border: red solid thin;}

/* FONT Settings */

/* unvisited link */
a:link {color: #bfbfbf;}
/* visited link */
a:visited {color: #e6e6fa;}
/* mouse over link */
a:hover {color: #FCC49F;}
/* selected link */
a:active {color: #add8e6;}

/* MISC colors */

.supporttooltip {font:12pt Times, serif;text-align:left;color:red;}
.displaynamecolor{color:white;}
.searchfieldcolor{background-color:#C3C3C3;color:black;}
.editfield {background-color:#EAEAEA;color:black;font:10pt Times, sans;}
.topfield {background-color:#EAEAEA;color:black;font:10pt Times, sans;}
.inputfield {background-color:#EAEAEA;color:black;font:16px sans-serif;}
.inputdefault {background-color:#EAEAEA;color:black;font:16px sans-serif;}
.loginmsgcolor{color:red;background-color:transparent;}
.resultcol {font:10pt Times, serif;text-align:left;color:#000000}

