/* **************************** */
/* THEME - CSS COLOR ASSIGNMENTS*/

BODY {background-color:#85A4A3;color:black;}

/* DIV colors*/

.pagecolor{background-color:#effe7a2;color:black;border: 5px double #263B48}
.topcolor{background-color:#048977;color:black;}
.itemcolor{background-color:#3f8a80;color:black}
.catcolor{background-color:#3f8a80;color:black}
.bottomcolor{background-color:#005630;color:black;}
.headercolor{background:url('../images/wavegreen-header.png');color:#000000;}
.toolbarcolor{background:url('../images/wavegreen-toolbar.png');color:#FFFFFF;}
/* just for IE */
.scrollbarcolor{scrollbar-base-color: #DEB887;scrollbar-arrow-color: #DEB887;scrollbar-DarkShadow-Color: blue;}

/* TABLE colors */

.oddrow {background-color:#badbad;color:#000000}
.evenrow{background-color:#ddefed;color:#000000}
/* tr.header {height:10mm;background-color:#5faba1;color:#000000} */
.resulttablecolor{background-color:#004F4A;color:black;}
.abouttablecolor{background-color:#badbad;color:black;}
.edittablecolor{background-color:#64C199;color:black;}
.dataInput:focus {background-color:#E9F1F1;color:black;border: red solid thin;}

/* hover colors*/

.imggo img:hover{background-color: #54EB51;color: black;}
.imggo input:hover{background-color: #54EB51;color: black;}
.imgwarn img:hover {background-color: #FF4500;color: black;}
.imgwarn input:hover {background-color: #FF4500;color: black;}
.imgcaution img:hover {background-color:#DDF75C;color: black;}
.imgcaution input:hover {background-color:#DDF75C;color: black;}
.imgpassive img:hover {background-color:#53AFB6;color: black;}
.imgpassive input:hover {background-color:#53AFB6;color: black;}
.hilite img:hover {border: red solid thin;}
.list select:hover {border: red solid thin;}
.searchSubmit:hover {background-color:#53AFB6;color:black;border: red solid thin;}
.searchInput:hover {background-color:#53AFB6;color:black;border: red solid thin;}
.defaultSubmit {background-color:#47f347;color:black;border: red solid thin;font:16px sans-serif;}
.alternateSubmit {background-color:#E7CE94;color:black;border: red solid thin;font:16px sans-serif;}

/* FONT Settings */

/* unvisited link */
a:link {color: #FFFFFF;}
/* visited link */
a:visited {color: #ffffFF;}
/* mouse over link */
a:hover {color: #ff0000;}
/* selected link */
a:active {color: #ffffff;}


/* MISC colors */

.supporttooltip {font:12pt Times, serif;text-align:left;color:red;}
.displaynamecolor{color:white;}
.searchfieldcolor{background-color:#C6E3E4;color:black;}
.editfield {background-color:#B5D5C7;color:black;font:10pt Times, sans;}
.topfield {background-color:#C6E3E4;color:black;font:10pt Times, sans;}
.inputfield {background-color:#ffe2aa;color:black;font:16px sans-serif;}
.inputdefault {background-color:lightgreen;color:black;font:16px sans-serif;}
.loginmsgcolor{color:red;background-color:transparent;}
.resultcol {font:10pt Times, serif;text-align:left;color:#000000}
.messagetext {background-color:#F5F5F5;color:#B70303;14px;font: 14pt Times, sans}
.logintext {background-color:#000000;color:#ffffff;14px;font: 14pt Times, sans}

/* *************************************************** */
/* documentation division */

.docTextDivColor{background-color:#ddefed;color:black;}

.docTitle A:link {text-decoration: none;color:#a4ca95;}
.docTitle A:visited {text-decoration: none;color:#a4ca95;}
.docTitle A:active {text-decoration: nonecolor:#a4ca95;}
.docTitle A:hover {text-decoration: none;background-color:#007d46;color:white}

.docChapters A:link {text-decoration: none;color:#005630;}
.docChapters A:visited {text-decoration: none;color:#005630;}
.docChapters A:active {text-decoration: none;color:white;}
.docChapters A:hover {text-decoration: none;background-color:#a4ca95;color:#005630;}

.docPages A:link {text-decoration: none;color:#a4ca95;}
.docPages A:visited {text-decoration: none;color:#a4ca95;}
.docPages A:active {text-decoration: none;background-color:gray;color:white;}
.docPages A:hover {text-decoration: none;background-color:#007d46;color:white;}
 