<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<%
mode="Rows Displayed: "+str(len(resultTable)-1)
caption='supportTableHeader'
p2="&action=1"
%>
	<HEAD>
		<title> <%=dbname.upper()%> </title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
		<LINK rel="stylesheet" href="style/base.css" type="text/css">
        <LINK rel="stylesheet" href="style/default.css" type="text/css">
		</HEAD>
	<BODY>
	    <DIV CLASS="PAGE pagecolor">
		    <!-- start the top div -->
		    <DIV CLASS="TOP topcolor">
		        <DIV>
		            <B><H3><center>!!!!! NO CONFIGURATION FOUND - COMPLETE THIS FORM !!!!!</center></H3></B>
					<H4><p style="margin:20px">
					# configuration for all 3 table dbs (3t)<BR>
					#<BR>
					# To complete a new and fully functional configuration you<BR> 
					# will need a properly created mysql database and tables first.<BR>
					<BR>
					# There are many features that depend on the accurate completion of<BR>
					# of this form. Read the documentation in the program directory.<BR>
					</p></H4>
		        </DIV>
		        
            <!-- end of top div-->
            </DIV>
            
            <DIV CLASS='BOTTOM'>
            <!-- start of bottom div -->
        
            
 		        <DIV CLASS='HEADER headercolor'>
 		             <DIV CLASS='caption'>
                      <B>Database: <%=dbname%></B>
 		             </DIV>
		        </DIV>
		
		        <FORM method="post" id='saveConfig' name="saveConfig" enctype="multipart/form-data" action="myFunctions/support">
		        <DIV CLASS="RESULTTABLE restulttablecolor">
		        
		             <!-- result table -->
		            <DIV CLASS="resulttable">
		                <%=resultTable%>
		            </DIV>		
		        </DIV>
            <!-- end of bottom div -->
            </DIV>        
            <DIV>
            <!-- star of toolbar div -->            	
	            <DIV CLASS='TOOLBAR toolbarcolor'>
		            <DIV CLASS='mode'>
		                <%=mode%>
		            </DIV>
		            
		            <DIV CLASS='contact'>
		                <A HREF="MAILTO:<%=emailcontact%>?subject=3tdb">Contact</A>
		            </DIV>
		            <DIV CLASS='submitconf'>
		                <input type="submit" name="newConfig" value="Submit" />
		            </DIV>
		        </DIV>
		            <DIV>
		                <INPUT TYPE="hidden" NAME="dbname" VALUE="<%=dbname%>">
		                <INPUT TYPE="hidden" NAME="supportTableName" VALUE="_config">               
	                </DIV>
            <!-- end of toolbar div -->
	        </DIV>
	        
			    </FORM>
        
<%
if popup:
%>
				<DIV CLASS='loginbox'  STYLE="width:400;height:300;box-shadow: 10px 10px 4px #161616;background-image:url('images/<%=dbname%>/<%=popupbackground%>')">
				        <DIV>
				            <!--start of form - the Edit table area-->
				            <FORM method="post" id="dogForm" name="dogForm" enctype="multipart/form-data" action="index?action=3">
				            
				                <DIV CLASS='loginmsg loginmsgcolor'>
				                    Configuration Error
				                </DIV>
				                 <DIV CLASS='errormessage messagetext'>
				                    <p STYLE='margin:5px'><%=errorMessage%></p>
				                </DIV>
				                <DIV CLASS='messageOK'>
				                    <INPUT TYPE="submit" NAME="OK" id='OK' VALUE="OK" CLASS='inputfield'>
				                </DIV>
				            <INPUT TYPE="hidden" NAME="dbname" VALUE="<%=dbname%>">
				            <!-- end of form-->
				            </FORM>
				        </DIV>
				</DIV>
<%
end
%>        
        <!-- end of page div -->
	    </DIV>   
    </BODY> 
</HTML>
