<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<%minorImage='catimages/'+configDB+'/'+catImages[int(currentCat)][1]%>
<%minorTitle=catImages[int(currentCat)][0]%>
<%searchImage="images/search.jpeg"%>
<%
if 'default' in minorImage:
    minorImage='catimages/'+configDB+'/default.png'
if displaynamelocation=='top':
    location="top:1%"
elif displaynamelocation=='middle':
    location="top:40%"
else:
    location="bottom:1%"
if dogleg:
    mode="read/write mode"
    loginlogout='logout'
else:
    mode="read only mode"
    loginlogout='login'
if action in (15,):
    p2="&media="+str(mediaID)
elif action in (16,17):
    p2="&medit="+str(mediaID)
else:
    if action in (1,2,3,4):
        exitAction=3
    elif action in (5,6,7,8):
        exitAction=7
    else:
        exitAction=""
    p2="&action="+str(exitAction)
    
mode=repr(popup)+repr(loginlogout)+repr(action)

%>
<% 
#end
%>
<HEAD>
<title> <%=configDB.upper()%> </title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<LINK rel="stylesheet" href="style/main.css" type="text/css">
    <script type="text/javascript">
        function setFocus()
            {
            document.getElementById('dogit').style.backgroundColor="#FFFF99"
            document.getElementById('dogleg').focus()
            }
        function openError(errorText) 
            {
            errorWindow=window.alert(errorText)
            }
            
    </script>
</HEAD>
<% 
if error:
%>

<BODY CLASS="PAGE" onload='javascript:openError("<%=error%>")'>
<% 
else:
%>
<BODY onload="setFocus()" CLASS="PAGE">

<% 
#end
%>
    <!-- start the top div -->
    <DIV CLASS="TOP">

        <DIV CLASS='toolbar'>
            <DIV CLASS='mode'>
                <%=mode%>
            </DIV>
            <DIV CLASS='contact'>
                <A HREF="MAILTO:witscher@gmail.com?subject=3tdb">Contact</A>
            </DIV>
            <DIV CLASS='loginlogout'>
                    <A HREF="index?popup=99<%=p2%>"><%=loginlogout%> <%=dogleg%> </a>
            </DIV>
        </DIV>

        <!-- start item table selection -->
        <DIV CLASS="itemdiv hilite">
            <!-- main image to run the query -->
            <A HREF="index?action=3">
            <IMG src="itemimages/<%=itemImage%>" alt="itemImage" id="itemImage" CLASS="itemimage" title="Show Data Specific to this Item">
            </A>

            <!-- index the image up one -->
            <DIV CLASS="imgyellow">
            <A HREF="index?action=2">
            <IMG src="images/up1.png" alt="Prev" id="itemArrowMinus" CLASS="itemup" title="Go To Prev Item">
            </A>
            </DIV>

            <!-- index the image down one -->
            <DIV CLASS="imgyellow">
            <A HREF="index?action=1">
            <IMG src="images/down1.png" alt="Next" id="itemArrowPlus" CLASS="itemdown" title="Go To Next Item">
            </A>
            </DIV>

<% 
if itemID!='0':
%>            <!-- add a new main record -->
            <DIV CLASS="imgyellow">
            <A HREF="index?action=11">
            <IMG src="images/add.png" alt="Add" id="itemCreate"  CLASS="itemadd" title="Create a New Item">
            </A>
            </DIV>
<%
#end
%>
            
        <!-- end item table selection -->
        </DIV>
        
        <!-- major select list -->
        <DIV CLASS="itemselect" title="Select an Item and show the data.">
            <%=itemSelect%>
        </DIV>
        
        <!-- start catagory table selection -->
        <DIV CLASS="catdiv hilite">
            <!-- minor image to run the query -->
            <A HREF="index?action=7">
            <IMG src="<%=minorImage%>" alt="minor Image" id="minorImage" CLASS="catimage" title="Show Data Specific to this Catagory"></A>

            <!-- index the image up one -->
            <DIV CLASS="imgyellow">
            <A HREF="index?action=6">
            <IMG src="images/up1.png" alt="Prev" id="minorArrowMinus" CLASS="catup" title="Go To Prev Catagory"></A>
            </DIV>

            <!-- index the image down one -->
            <DIV CLASS="imgyellow">
            <A HREF="index?action=5">
            <IMG src="images/down1.png" alt="Next" id="minorArrowPlus"  CLASS="catdown" title="Go To Next Catagory"></A>
            </DIV>
<% 
if minorTitle[:3] !="All":
    if itemID!='0':
%>
            <!-- add a minor record based on selection -->
            <DIV CLASS="imgyellow">
                <A HREF="index?action=13">
                    <IMG src="images/add.png" alt="Add" id="minorNew" CLASS="catadd" title="Create a New Record">
                </A>
            </DIV>
<%
#end
%>
        <!-- end catagory table selection -->
        </DIV>
        
        <!-- minor select list -->
        <DIV CLASS="catselect" title="Select a Category and show the data">
            <%=catSelect%>
        </DIV>
        
        <!-- start logo and note division -->
        <DIV id='logodiv' CLASS="logodiv hilite">
            <A HREF="index?action=20" >
                <IMG src="images/<%=displaylogo%>" alt="Logo Image" id="logoImage" CLASS="logoimage" title="About">
            </A>
            <DIV CLASS='company' style="position:absolute;<%=location%>;left:5px;width:290px;height:35px;">
                 <%=displayname%> 
            </DIV>
        <!-- end logo and note division -->
        </DIV>
        
        <!-- search input -->
        <DIV CLASS="searchdiv">
           <%=search%>
        </DIV>

<% 
if len(resultHeader)>3:
%>
       <!-- result header -->
        <DIV CLASS="header">
        
            <!-- result header -->
            <DIV CLASS="searchheaderstart" style="width:1%">
            </DIV>
<%
#end
%>
<%
if len(resultHeader)>3:
    leftStart=35
    x=len(resultHeader)
    for thisCol in range(0,len(resultHeader)):
%>
            <!-- result header -->
            <DIV CLASS="searchheader<%=thisCol%>" style='position:absolute;top:0px;height:30px;left:<%=leftStart%>px;'>
            
                 <%=resultHeader[thisCol]%>
                 <!--<%=headerWidths[thisCol]%>-->

            </DIV>

<%
        leftStart=leftStart+int(headerWidths[thisCol])
#end
%>
<% 
if len(resultHeader)>3:
%>
            
            <!-- result header -->
            <DIV CLASS="searchheaderend">
            </DIV>
            
            <!-- end query result header -->
        </DIV>
        
       <!-- start bottom div - display the query results in a table -->
        <DIV CLASS="BOTTOM">
        
             <!-- result table -->
            <DIV CLASS="resulttable">
                <%=resultTable%>
            </DIV>

        </DIV>


            
    <!-- end of top div-->
    </DIV>
        
<% 
elif len(resultHeader)==2:
%>
        <!--start of form - the Edit table area-->
        <FORM method="post" id="dataForm" name="dataForm" enctype="multipart/form-data" action="myFunctions.py/<%=activeForm%>">
        
       <!-- result header -->
        <DIV CLASS="headerleft warningred">
            <%=resultHeader[1]%>
        </DIV>
        <DIV CLASS="header">
            <B><%=caption%></B>
        </DIV>
        <DIV CLASS="headerright greenforgo">
            <%=resultHeader[0]%>
        </DIV>
                        
        <!-- start bottom div - display the input fields in a table -->
        <DIV CLASS="BOTTOM">
             <!-- result table -->
            <DIV CLASS="resulttable">
                <%=resultTable%>
            </DIV>
        <!-- end of bottom div-->
        </DIV>
    
        <DIV>
            <INPUT TYPE="hidden" NAME="itemID" VALUE="<%=itemID%>">
            <INPUT TYPE="hidden" NAME="catID" VALUE="<%=catID%>">
            <INPUT TYPE="hidden" NAME="mediaID" VALUE="<%=mediaID%>">
            <INPUT TYPE="hidden" NAME="system" VALUE="<%=minorTitle%>">
            <INPUT TYPE="hidden" NAME="configDB" VALUE="<%=configDB%>">
            <INPUT TYPE="hidden" NAME="cancelAction" VALUE="<%=cancelAction%>">
        </DIV>
        
        <!-- end of form-->
        </FORM>
    
    <!-- end of top div-->
    </DIV>
    
<% 
elif "About" in caption:
%>

        <!--  the item header-->

            <DIV CLASS="headerleft imgyelllow">
                <a href="index?action=21" ><img src="images/edit3.png" alt="Edit" title="Edit Configuration" CLASS="itemeditimage"></a>
            </DIV>
            <DIV CLASS="header">
                <B><%=caption%></B>
            </DIV>
            <DIV CLASS="headerright imggreen">
                <a href="index?action=22" ><img src="images/add3.png" alt="Edit" title="New Configuration" CLASS="mediaaddimage"></a>
            </DIV>
        
        <!-- end of header div-->
        
    <!-- display the item results in a table -->
    <DIV CLASS="BOTTOM">
         <!-- result table -->
        <DIV CLASS="resulttable">
            <%=resultTable%>
        </DIV>
                    
    <!-- end of bottom div-->
    </DIV>
    <!-- end of top div-->
    </DIV>

<% 
elif resultHeader[0]=='empty':
    if relatedCat=="1":
        x='<img src="images/delete-inactive.png" alt="Edit" title="Delete" CLASS="itemdeleteimage">'
    else:
#      x='<a href="index?popup=95&action='+'action"'+'><img src="images/delete.png" alt="Edit" title="Delete" CLASS="itemdeleteimage"></a>'
        x='<img src="images/delete-inactive.png" alt="Edit" title="Delete" CLASS="itemdeleteimage">'
%>

        <!--  start the header div - while viewing the item details-->
        <DIV>
            <DIV CLASS="headerleft imgyellow">
                <a href="index?action=10" ><img src="images/edit3.png" alt="Edit" title="Edit" CLASS="itemeditimage"></a>
            </DIV>
            <DIV CLASS="headerleft2 imgbrightyellow">
                <img src="images/delete-inactive.png" alt="Edit" title="Delete" CLASS="itemdeleteimage">'

            </DIV>
            <DIV CLASS="header">
                <B><%=caption%></B>
            </DIV>
            <DIV CLASS="headerright imggreen">
                <a href="index?media=Inew" ><img src="images/add3.png" alt="Note" title="Add? <%=mediaTable%>" CLASS="mediaaddimage"></a>
            </DIV>
        
            <!-- end of header div-->
        </DIV>
    
        <!-- start bottom div - display the item results in a table -->
        <DIV CLASS="BOTTOM">
             <!-- result table -->
            <DIV CLASS="resulttable">
                <%=resultTable%>
            </DIV>
        <!-- end of bottom div-->
        </DIV>
        
    <!-- end of top div-->
    </DIV>

<% 
elif resultHeader[0]=='media':
%>

        <!--  start the header div - while viewing the media details-->
        <DIV>
        
            <DIV CLASS="headerleft">
            </DIV>
            <DIV CLASS="header">
                <B><%=caption%></B>
            </DIV>
            <DIV CLASS="headerright imggreen">
                <a href="index?media=new<%=catID%>" ><img src="images/add3.png" alt="Note" title="Add a <%=mediaTable%>" CLASS="mediaaddimage"></a>
            </DIV>
        
        <!-- end of header div-->
        </DIV>
    
        <!-- start bottom div - display the item results in a table -->
        <DIV CLASS="BOTTOM">
             <!-- result table -->
            <DIV CLASS="resulttable">
                <%=resultTable%>
            </DIV>
        <!-- end of bottom div-->
        </DIV>
        
    <!-- end of top div-->
    </DIV>
    
<% 
elif resultHeader[0]=='Imedia':
%>

        <!--  start the header div - while viewing the media details-->
        <DIV>
        
            <DIV CLASS="headerleft">
            </DIV>
            <DIV CLASS="header">
                <B><%=caption%></B>
            </DIV>
            <DIV CLASS="headerright imggreen">
                <a href="index?media=Inew" ><img src="images/add3.png" alt="Note" title="Add <%=mediaTable%>" CLASS="mediaaddimage"></a>
            </DIV>
        
        <!-- end of header div-->
        </DIV>
    
        <!-- start bottom div - display the item results in a table -->
        <DIV CLASS="BOTTOM">
             <!-- result table -->
            <DIV CLASS="resulttable">
                <%=resultTable%>
            </DIV>
        <!-- end of bottom div-->
        </DIV>
        
    <!-- end of top div-->
    </DIV>
    
    
<%
else:
    noteID=str(resultHeader[0])
%>
        <!--  start of header div - view media header for item table -->
        <DIV>
            <DIV CLASS="headerleft imgyellow">
                <a href="index?action=10" ><img src="images/edit3.png" alt="Edit" title="Edit" CLASS="itemeditimage"></a>
            </DIV>
            <DIV CLASS="headerleft2 imgbrightyellow">
                <img src="images/delete-inactive.png" alt="Delete" title="Delete" CLASS="itemdeleteimage">
            </DIV>
            <DIV CLASS="header">
                <B><%=caption%></B>
            </DIV>
            <DIV CLASS="headerright imggreen">
                <a href="index?media=I<%=noteID%>" ><img src="images/right3.png" alt="Note" title="View <%=mediaTable%>" CLASS="mediaviewimage"></a>
            </DIV>
        
        <!-- end of header div-->
        </DIV>
    
        <!-- start bottom div - display the item results in a table -->
        <DIV CLASS="BOTTOM">
             <!-- result table -->
            <DIV CLASS="resulttable">
                <%=resultTable%>
            </DIV>
        <!-- end of bottom div-->
        </DIV>
        
    <!-- end of top div-->
    </DIV>
    
<%
#end
%>
<%
if popup in ('99','98','97','96','95'):
    if popup=='98':
        loginmsg="Failed login, try again?"
    elif popup=='97':
        loginmsg="DELETE THIS RECORD?!"
        mediaID=req.form['mediaID']
        mediaRecord=req.form['media']
        loginlogout="deleteMedia"
    elif popup=='96':
        loginmsg="DELETE THIS RECORD?!"
        catID=req.form['catID']        
        loginlogout="deleteCat"
    elif popup=='95':
        loginmsg="DELETE THIS RECORD?!"
        loginlogout="deleteItem"
    else:
        loginmsg=""

    if loginlogout=='login':
%>
<DIV CLASS='loginbox'>
        <DIV>
            <!--start of form - the Edit table area-->
            <FORM method="post" id="dogForm" name="dogForm" action="myFunctions.py/dogin">
            
            <DIV CLASS='loginmsg'>
                <%=loginmsg%>
            </DIV>
            
            <DIV CLASS='loginName'>
                Name: <INPUT TYPE="text" NAME="dogleg" id='dogleg' VALUE="" size="20" CLASS='inputfield dataInput'>
            </DIV>
            
            <DIV CLASS='loginPass'>
                Password: <INPUT TYPE="password" NAME="cattail" VALUE="" size="20" CLASS='inputfield dataInput'>
            </DIV>
            
            <DIV CLASS='login'>
                <INPUT TYPE="submit" NAME="dogin" id='dogit' VALUE="LOGIN" style="background-color:lightgreen;color:black;font:16px sans-serif;">
            </DIV>
            <DIV CLASS='logincancel'>
                <INPUT TYPE="submit" NAME="cancel" VALUE="CANCEL" CLASS='inputfield'>
            </DIV>
            
            <INPUT TYPE="hidden" NAME="configDB" VALUE="<%=configDB%>">
            <INPUT TYPE="hidden" NAME="action" VALUE="<%=action%>">
            <INPUT TYPE="hidden" NAME="media" VALUE="<%=mediaID%>">
            <INPUT TYPE="hidden" NAME="medit" VALUE="<%=mediaID%>">
            <!-- end of form-->
            </FORM>
        </DIV>
</DIV>


<%
    elif loginlogout=='logout':
%>
<DIV CLASS='loginbox'>
        <DIV>
            <!--start of form - the Edit table area-->
            <FORM method="post" id="dogForm" name="dogForm" enctype="multipart/form-data" action="myFunctions.py/dogout">
                <DIV CLASS='logout'>
                    <INPUT TYPE="submit" NAME="dogout" id='dogit' VALUE="LOGOUT" CLASS='inputfield'>
                </DIV>
                <DIV CLASS='logoutcancel'>
                    <INPUT TYPE="submit" NAME="cancel" VALUE="CANCEL" CLASS='inputfield'>
                </DIV>
            <INPUT TYPE="hidden" NAME="configDB" VALUE="<%=configDB%>">
            <INPUT TYPE="hidden" NAME="mediaID" VALUE="<%=mediaID%>">
            <INPUT TYPE="hidden" NAME="action" VALUE="<%=action%>">
            <INPUT TYPE="hidden" NAME="media" VALUE="<%=mediaID%>">
            <INPUT TYPE="hidden" NAME="medit" VALUE="<%=mediaID%>">
            <!-- end of form-->
            </FORM>
        </DIV>

</DIV>

<%
    elif loginlogout=='deleteMedia':
%>
<DIV CLASS='loginbox'>
        <DIV>
            <!--start of form - the Edit table area-->
            <FORM method="post" id="dogForm" name="dogForm" enctype="multipart/form-data" action="myFunctions.py/delMedia">
            
                <DIV CLASS='loginmsg'>
                    <%=loginmsg%>
                </DIV>
                 <DIV CLASS='logout'>
                    <INPUT TYPE="submit" NAME="delMedia" id='delMedia' VALUE="DELETE" CLASS='inputfield'>
                </DIV>
                <DIV CLASS='logoutcancel'>
                    <INPUT TYPE="submit" NAME="cancel" id='cancel' VALUE="CANCEL" CLASS='inputfield'>
                </DIV>
            <INPUT TYPE="hidden" NAME="configDB" VALUE="<%=configDB%>">
            <INPUT TYPE="hidden" NAME="mediaID" VALUE="<%=mediaID%>">
            <INPUT TYPE="hidden" NAME="media" VALUE="<%=mediaRecord%>">
            <INPUT TYPE="hidden" NAME="action" VALUE="<%=action%>">
            <INPUT TYPE="hidden" NAME="medit" VALUE="<%=mediaID%>">
            <!-- end of form-->
            </FORM>
        </DIV>

</DIV>


<%
    elif loginlogout=='deleteCat':
%>
<DIV CLASS='loginbox'>
        <DIV>
            <!--start of form - the Edit table area-->
            <FORM method="post" id="dogForm" name="dogForm" enctype="multipart/form-data" action="myFunctions.py/delCat">
            
                <DIV CLASS='loginmsg'>
                    <%=loginmsg%>
                </DIV>
                 <DIV CLASS='logout'>
                    <INPUT TYPE="submit" NAME="delCat" id='delCat' VALUE="DELETE" CLASS='inputfield'>
                </DIV>
                <DIV CLASS='logoutcancel'>
                    <INPUT TYPE="submit" NAME="cancel" id='cancel' VALUE="CANCEL" CLASS='inputfield'>
                </DIV>
            <INPUT TYPE="hidden" NAME="configDB" VALUE="<%=configDB%>">
            <INPUT TYPE="hidden" NAME="catID" VALUE="<%=catID%>">
            <INPUT TYPE="hidden" NAME="action" VALUE="<%=action%>">
            <!-- end of form-->
            </FORM>
        </DIV>


<%
    elif loginlogout=='deleteItem':
%>
<DIV CLASS='loginbox'>
        <DIV>
            <!--start of form - the Edit table area-->
            <FORM method="post" id="dogForm" name="dogForm" enctype="multipart/form-data" action="myFunctions.py/delItem">
            
                <DIV CLASS='loginmsg'>
                    <%=loginmsg%>
                </DIV>
                 <DIV CLASS='logout'>
                    <INPUT TYPE="submit" NAME="itemCat" id='itemCat' VALUE="DELETE" CLASS='inputfield'>
                </DIV>
                <DIV CLASS='logoutcancel'>
                    <INPUT TYPE="submit" NAME="cancel" id='cancel' VALUE="CANCEL" CLASS='inputfield'>
                </DIV>
            <INPUT TYPE="hidden" NAME="configDB" VALUE="<%=configDB%>">
            <INPUT TYPE="hidden" NAME="itemID" VALUE="<%=itemID%>">
            <!-- end of form-->
            </FORM>
        </DIV>
</DIV>

<%
#end
%>



</BODY> 
</HTML>
